@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Corinthia&family=Cormorant&family=Odibee+Sans&family=Shadows+Into+Light&family=Sofia&family=Sonsie+One&family=Teko:wght@700&family=Texturina:ital,opsz,wght@1,12..72,300&family=Trochut&display=swap");
:root {
  --colorblue: #6afae0;
  --coloryellow: #faeb6a;
  --colororange: #f96e42;
  --colorviolet: #6a70fa;
  --colororg2: #ff9a24;
  --colorred: #ff7171;
  --border-opacity: 0.3;
  /* --transition-time: 0.8s; */
  --dark: #1b1b1b;
  --light: #ffffff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
  color: var(--dark);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1280px;
  height: max-content;
}

/* THEMES */

.dark-light {
  animation: dark-light 1s linear 0s forwards;
}
@keyframes dark-light {
  0% {
    background-color: var(--dark);
  }
  90% {
    background-color: var(--dark);
  }

  100% {
    background-color: var(--light);
  }
}

.light-dark {
  animation: light-dark 1s linear 0s forwards;
}

@keyframes light-dark {
  0% {
    background-color: var(--light);
  }
  90% {
    background-color: var(--light);
  }
  100% {
    background-color: var(--dark);
  }
}

.bg-open-dark {
  animation: bg-open-dark 0.75s linear 0s forwards;
}

@keyframes bg-open-dark {
  from {
    background-color: var(--dark);
    height: 0vh;
    width: 0vh;
  }
  to {
    background-color: var(--dark);
    height: 900vh;
    width: 1000vh;
  }
}
.bg-open-light {
  animation: bg-open-light 0.75s linear 0s forwards;
}

@keyframes bg-open-light {
  from {
    background-color: var(--light);
    height: 0vh;
    width: 0vh;
  }
  to {
    background-color: var(--light);
    height: 900vh;
    width: 1000vh;
  }
}

/* TOGGLE-BUTTON */

.theme-toggle-container {
  height: 40px;
  width: 40px;
  background-color: #04b800;
  position: relative;
  border-radius: 100%;
}

.theme-toggle-container button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-toggle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  scale: 2;
  height: 0vh;
  width: 0vh;
}

/* LANDING-PAGE */

/* HEADINGS */

.heading-light {
  color: rgba(0, 0, 0, 0.1);
}

.heading-dark {
  color: rgba(255, 255, 255, 0.1);
}

.heading-words-light {
  color: rgba(0, 0, 0, 1);
}
.heading-words-dark {
  color: rgba(255, 255, 255, 1);
}

.heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: -0.1rem;
}

/* WORK-BUTTON */

.work-button {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  gap: 0.5rem;
  transition: box-shadow 0.5s;
}

.work-button-light {
  background: linear-gradient(180deg, #282828 0%, #000 100%);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05),
    0px 5px 8px 0px rgba(0, 0, 0, 0.07), 0px 11px 16px 0px rgba(0, 0, 0, 0.09),
    0px 22px 34px 0px rgba(0, 0, 0, 0.11), 0px 60px 92px 0px rgba(0, 0, 0, 0.16);
}

.work-button-dark {
  background-color: white;
}

.work-button-light:hover,
.work-button-dark:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0px 11px 16px 0px rgba(0, 0, 0, 0.2),
    0px 22px 34px 0px rgba(0, 0, 0, 0.15), 0px 60px 92px 0px rgba(0, 0, 0, 0.15);
}

.work-button-light span,
.work-button-dark span {
  background-color: #22e765;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}

.work-button-light p {
  color: #10d251;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.075rem;
}

.work-button-dark p {
  color: #10d251;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.075rem;
}

/* CARDS */
.card {
  cursor: pointer;
  max-width: 544px;
  height: 560px;
  padding: 3rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  transition: all 0.5s;
}

.clone-card {
  cursor: pointer;
  max-width: 1152px;
  padding: 3rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.side-card {
  cursor: pointer;
  max-width: 544px;
  padding: 2rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.card-light:hover,
.clone-card-light:hover,
.side-card-light:hover {
  scale: 1.005;
  box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.15);
}
:not(.card:hover),
:not(.clone-card:hover),
:not(.side-card:hover) {
  scale: 1;
}

.card-light,
.clone-card-light,
.side-card-light {
  /* background-color: white; */
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.04);
}

.card-dark,
.clone-card-dark,
.side-card-dark {
  /* background-color: var(--dark); */
  border: 2px solid rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.1); */
}

/* CARD-DISPLAY */

.card-display,
.clone-card-display {
  background: rgb(124, 124, 124);
  width: 100%;
  border-radius: 1rem;
}

.side-card-display {
  max-width: 120px;
  height: 120px;
  background: rgb(124, 124, 124);
  border-radius: 0.8rem;
}

/* CARD-HEADER */

.card-header {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: -0.03375rem;
}

.card-header h1,
.clone-card-header h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;
}

.card-header-light h1,
.clone-card-header-light h1 {
  color: black;
}

.card-header-dark h1,
.clone-card-header-dark h1 {
  color: white;
}

.card-header-light p,
.clone-card-header-light p {
  color: black;
}

.card-header-dark p,
.clone-card-header-dark p {
  color: white;
}

.side-card-header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;
}
.side-card-header-light h1 {
  color: #000;
}
.side-card-header-dark h1 {
  color: #fff;
}

/* CARD-BODY */

.card-body,
.clone-card-body h2 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.03375rem;
}

.card-body-light h2,
.clone-card-body-light h2 {
  color: #000;
}

.card-body-dark h2,
.clone-card-body-dark h2 {
  color: #fff;
}

.card-body p,
.clone-card-body p {
  opacity: 0.3;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.03375rem;
}

.card-body-light p,
.clone-card-body-light p {
  color: #000;
}
.card-body-dark p,
.clone-card-body-dark p {
  color: #fff;
}

.side-card-body h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.03375rem;
}
.side-card-body-light h2 {
  color: #000;
}
.side-card-body-dark h2 {
  color: #fff;
}

.side-card-body p {
  opacity: 0.3;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.03375rem;
}
.side-card-body-light p {
  color: #000;
}
.side-card-body-dark p {
  color: #fff;
}

/* DOWNLOAD-BUTTON` */

.download-button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.25rem;
}

.download-button-light {
  background-color: rgb(0, 0, 0, 0.05);
}
.download-button-dark {
  background-color: rgb(255, 255, 255, 0.05);
}

.download-button span {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.03375rem;
}

.download-button-light span {
  color: #000;
}
.download-button-dark span {
  color: #fff;
}

.download-button-2 {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.25rem;
  background-color: #eff1f4;
  font-size: 0.9rem;
}

/* GITHUB-BUTTON */

.github-button {
  cursor: pointer;
  transition: all 0.2s;
}

.github-button:hover {
  color: #4fc54d;
}

.github-button-light {
  color: #000;
}
.github-button-dark {
  color: #fff;
}

/* KEYBOARD */

.keyboard {
  background: radial-gradient(100% 100% at 50% 0%, #403530 0%, #201a17 100%);
  /* background-color: wheat; */
}

iframe {
  transform-origin: top left;
  transform: scale(0.4);
  position: absolute;
  top: -32px;
  left: -5px;
}

.iframe-container-border {
  background-color: #ffffff;
  width: 90%;
  height: 70%;
  position: absolute;
  bottom: -15px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1.5px solid #977462;
}
