@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap"); */

:root {
  --colorblue: #6afae0;
  --coloryellow: #faeb6a;
  --colororange: #f96e42;
  --colorviolet: #6a70fa;
  --colororg2: #ff9a24;
  --colorred: #ff7171;
  --border-opacity: 0.3;
  /* --transition-time: 0.8s; */
  --dark: #000000;
  --light: #fff;
  --border-color: #000000;
  --border-width: 0px;
  --animation-time: 0.2s;
}

body {
  margin: 0rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
  /* font-family: "IBM Plex Sans", sans-serif; */
  overflow-x: hidden;
  overscroll-behavior: none;
}

a {
  cursor: pointer;
}

.body_text {
  color: #fff;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.body_heading {
  color: #fff;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0;
}

.body_text_link {
  color: #2f64eb;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
}
